* {
  font-size: 16px;
  margin: .1em;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 67.5%
}

ul {
  list-style: none;
}
li {
  margin: 2px 0;
}

.job {
  display: flex;
}

.add-job {
  background-color: blue;
  border: 1px solid #ccc;
}

.objective-text {
  margin-top: 0;
  width: 100%;
  height: auto;
}

.job-title {
  font-family: monospace;
  font-size: 1.5em;
  margin-top: 10px;
  height: 23px;
}
