* {
  font-size: 16px;
  margin: .1em;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 67.5%
}

ul {
  list-style: none;
  padding: 0;
}
li {
  margin: 2px 0;
  line-height: 75%;
}

.add-job {
  background-color: blue;
  border: 1px solid #ccc;
}
